.bottomBtn{
    padding: 8px 12px;
    width:13%;
    margin-left: 60px;
    padding-top: 5px!important;
    color: white;
    height: 38px;
    border-radius: 16px;
}
@media screen and (max-width:900px){
    .bottomBtn{
        width:18%;
    }
}
@media screen and (max-width:665px){
    .bottomBtn{
        width:25%;
    }
}
@media screen and (max-width:500px){
    .bottomBtn{
        width:32%;
    }
}
@media screen and (max-width:380px){
    .bottomBtn{
        width:42%;
    }
}
@media screen and (max-width:300px){
    .bottomBtn{
        width:50%;
    }
}
